<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Simple-Data Visualizer", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Simple Structures
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Array</a>
          <a class="dropdown-item" href="#">Linked List</a>
          <a class="dropdown-item" href="#">Stack</a>
          <a class="dropdown-item" href="#">Queue</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Complex structure
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Binary Tree</a>
          <a class="dropdown-item" href="#">Binary Search Tree</a>
          <a class="dropdown-item" href="#">Heap</a>
          <a class="dropdown-item" href="#">Hashing</a>
          <a class="dropdown-item" href="#">Graph</a>
          <a class="dropdown-item" href="#">Matrix</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sorting Algorithms I
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bubble Sort</a>
          <a class="dropdown-item" href="#">Recursive Bubble Sort</a>
          <a class="dropdown-item" href="#">Insertion Sort</a>
          <a class="dropdown-item" href="#">Recursive Insertion Sort</a>
          <a class="dropdown-item" href="#">Selection Sort</a>
          <a class="dropdown-item" href="#">Quick Sort</a>
          <a class="dropdown-item" href="#">Iterative Quick Sort</a>
          <a class="dropdown-item" href="#">Merge Sort</a>
          <a class="dropdown-item" href="#">Iterative Merge Sort</a>
          <a class="dropdown-item" href="#">Heap Sort</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sorting Algorithms II
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Radix Sort</a>
          <a class="dropdown-item" href="#">Counting Sort</a>
          <a class="dropdown-item" href="#">Bucket Sort</a>
          <a class="dropdown-item" href="#">ShellSort</a>
          <a class="dropdown-item" href="#">TimSort</a>
          <a class="dropdown-item" href="#">Comb Sort</a>
          <a class="dropdown-item" href="#">Pigeonhole Sort</a>
          <a class="dropdown-item" href="#">Cycle Sort</a>
          <a class="dropdown-item" href="#">Cocktail Sort</a>
          <a class="dropdown-item" href="#">Strand Sort</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sorting Algorithms III
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bitonic Sort</a>
          <a class="dropdown-item" href="#">Pancake sorting</a>
          <a class="dropdown-item" href="#">Binary Insertion Sort</a>
          <a class="dropdown-item" href="#">BogoSort or Permutation Sort</a>
          <a class="dropdown-item" href="#">Gnome Sort</a>
          <a class="dropdown-item" href="#">Sleep Sort</a>
          <a class="dropdown-item" href="#">Stooge Sort</a>
          <a class="dropdown-item" href="#">Tag Sort</a>
          <a class="dropdown-item" href="#">Tree Sort</a>
          <a class="dropdown-item" href="#">Cartesian Tree Sorting</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sorting Algorithms IV
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Odd-Even Sort / Brick Sort</a>
          <a class="dropdown-item" href="#">QuickSort on Singly Linked List</a>
          <a class="dropdown-item" href="#">QuickSort on Doubly Linked List</a>
          <a class="dropdown-item" href="#">3-Way QuickSort</a>
          <a class="dropdown-item" href="#">Merge Sort for Linked Lists</a>
          <a class="dropdown-item" href="#">Merge Sort for Doubly Linked List</a>
          <a class="dropdown-item" href="#">3-way Merge Sort</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pathfinding Algorithms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">A*</a>
          <a class="dropdown-item" href="#">Dijkstra's</a>
          <a class="dropdown-item" href="#">Breadth-first search</a>
          <a class="dropdown-item" href="#">Depth-First search</a>
        </div>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>