<div class="option-strip">
    <h4>Please select a data structure</h4>
    <%= link_to 'Nuevo Link', root_path, class: 'nav-item' %>
    <p><a href="home">Nuevo link</a></p>
    <p><a href="home">Nuevos elementos</a></p>

</div>